.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*app.js style*/

.sidenav {
float: left;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 100%;
background-color: #E0E1E1;
display: block;
}

.app_title {
color: #38CAFB;
}

.user-info {
color: #3F3F3F;
}

.room-list {
color: #3F3F3F;
padding-top: 20px;
padding-bottom: 15px;
}

.newRoom-button {
padding-top: 15px;
}

.message-info {
color: #3F3F3F;
text-align: left;
padding-top: 5px;
padding-left: 25px;
}

/*message list*/

.room-name {
color: #3F3F3F;
}

.message-room {
padding-left: 25px;
}

li {
list-style-type: none;
}

.message-submit {

}
